<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <main>
            <h1>My Receipts</h1>
            <table>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
                {% for items in list %}
                <tr>
                    <td>{{items.vendor}}</td>
                    <td>{{items.total}}</td>
                    <td>{{items.tax}}</td>
                    <td>{{items.date|date:"m/j/y"}}</td>
                    <td>{{items.category}}</td>
                    <td>{{items.account}}</td>
                </tr>
                {% endfor %}
        </table>
     </main>
    </body>
</html>
